* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}



a {
    text-decoration: none;
    color: #1877f2;
}

.conteudo {}


.textos {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;




}



.inputs {
    display: flex;
    justify-content: center;









}

.contform {
    display: block;


    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    text-align: center;




}


.email {
    padding: 14px 16px;
    font-size: 17px;
    width: 364px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;



}


.senha {

    padding: 14px 16px;
    font-size: 17px;
    width: 364px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
}


.btn {
    padding: 14px 16px;
    font-size: 17px;
    width: 364px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: white;
}



.botao {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    text-align: center;
    text-shadow: none;
    background-color: #42b72a;
    color: white;
}


p {


    padding: 2rem;
}
